body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
}

body {
	word-wrap: break-all;
	-ms-word-break: break-word;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	background-image: url(http://i.imgur.com/03u3t8g.gif);
	background-repeat: repeat;

}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,img {
    border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-style: normal;
    font-weight: normal;
}

li {
    list-style: none;
}

caption,th {
    text-align: left;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal;
}

abbr,acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,textarea,select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	background-color: #FFF;
	border-radius: 6px;
	border: 2px solid #000;
}

legend {
    color: #000;
}

body {




    *font-size: small;
    *font: x-small;
	background-image: url(http://i.imgur.com/03u3t8g.gif);
	background-repeat: repeat;
	background-color: #C30;
	font-family: arial, helvetica, clean, sans-serif;
	font-size: 13px;
	line-height: 1.231;
	color: #fff;
}


pre,code,kbd,samp,tt {
    font-family: monospace;
    *font-size: 108%;
    line-height: 100%;
}

body {
    text-align: center;
}

#ft {
    clear: both;
}

#doc,#doc2,#doc3,#doc4,.yui-t1,.yui-t2,.yui-t3,.yui-t4,.yui-t5,.yui-t6,.yui-t7 {
    margin: auto;
    text-align: left;
    width: auto;
    *width: 56.301em;
    min-width: 750px;
	margin-left: 5%;
	margin-right: 5%;
	display: table;
}

#doc2 {
    width: 73.074em;
    *width: 71.313em;
}

#doc3 {
    margin: auto 10px;
    width: auto;
}

#doc4 {
    width: 74.923em;
    *width: 73.117em;
}

.mask {
    z-index: 1;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    -moz-opacity: .5;
    opacity: .50;
    filter: alpha(opacity=50);
    background-color: #CCC;
}

.button-group button {
    font: 100 76% verdana;
    text-decoration: none;
    background-color: #E4E4E4;
    color: #333;
    cursor: hand;
    vertical-align: middle;
    border: 2px solid #797979;
    border-top-color: #FFF;
    border-left-color: #FFF;
    margin: 2px;
    padding: 2px;
}

.button-group button.default {
    font-weight: bold;
}

.button-group button:hover,.button-group button.hover {
    border: 2px solid #90A029;
    background-color: #EBF09E;
    border-top-color: #FFF;
    border-left-color: #FFF;
}

.button-group button:active {
    border: 2px solid #E4E4E4;
    background-color: #BBB;
    border-top-color: #333;
    border-left-color: #333;
}
