/* GLOBAL */

html {
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	background: #EEF2FF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADICAIAAACmkByiAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QQWExser9/gAgAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAhklEQVQoz+2RwRECMQwDd9V/fTyogg7Eg9wlBAYogIcnk9ha2Q6X6y3AxxBSCRhp1JRGHHlTiHbqNEIoYWgf59RN9qiFYB8+h+7QluhrX+jiyeQwPaXz/vS+6M4+V9bG3mo8Z3rnP3Yj6diDGuhgLfnjPvZzMuuceWNL032OxfPbn/7jp7gDHYsdbkBbfLcAAAAASUVORK5CYII=) top center repeat-x fixed;
	color: #000000;
	font-family: arial,helvetica,sans-serif;
	font-size: 10pt;
	margin-left: 0;
	margin-right: 0;
	padding-left: 5px;
	padding-right: 5px;
	word-wrap: break-all;
	-ms-word-break: break-word;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

a,a:visited {
	color: blue;
}

a.replylink {
	text-decoration: underline!important;
}

a.replylink:not(:hover) {
	color: blue!important;
}

a:hover {
	color: #DD0000!important;
}

img {
	border: none;
}

hr {
	border: none;
	border-top: 1px solid #B7C5D9;
	height: 0;
}

span.x-small {
	font-size: x-small;
}

fieldset,img {
	border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}

li {
	list-style: none;
}

caption,th {
	text-align: left;
}


abbr,acronym {
	border: 0;
	font-variant: normal;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

input,textarea,select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	margin-right: 3px;
	margin-top: 1px;
}

legend {
	color: #000;
}

pre,code,kbd,samp,tt {
	font-family: monospace;
	*font-size: 108%;
	line-height: 100%;
}

#ft {
	clear: both;
}

#doc,#doc2,#doc3,#doc4,.yui-t1,.yui-t2,.yui-t3,.yui-t4,.yui-t5,.yui-t6,.yui-t7 {
	text-align: left; 
	width: auto;
	*width: 56.301em; 
	min-width: 750px; 
	display: table;
	margin-left: auto;
	margin-right: auto;
	display: table;
	padding-right: 5%;
	padding-left: 5%;
}

#doc2 {
	width: 73.074em;
	*width: 71.313em;
}

#doc3 {
	margin: auto 10px;
	width: auto;
}

#doc4 {
	width: 74.923em;
	*width: 73.117em;
}

.mask {
	z-index: 1;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	-moz-opacity: .5;
	opacity: .50;
	filter: alpha(opacity=50);
	background-color: #CCC;
}

.button-group button {
	font: 100 76% verdana;
	text-decoration: none;
	background-color: #E4E4E4;
	color: #333;
	cursor: hand;
	vertical-align: middle;
	border: 2px solid #797979;
	border-top-color: #FFF;
	border-left-color: #FFF;
	margin: 2px;
	padding: 2px;
}

.button-group button.default {
	font-weight: bold;
}

.button-group button:hover,.button-group button.hover {
	border: 2px solid #90A029;
	background-color: #EBF09E;
	border-top-color: #FFF;
	border-left-color: #FFF;
}

.button-group button:active {
	border: 2px solid #E4E4E4;
	background-color: #BBB;
	border-top-color: #333;
	border-left-color: #333;
}

/* BOARD */

div.board>hr {
	clear: both;
}

hr.abovePostForm {
	width: 90%;
}

div.backlink {
  font-size: 0.8em !important;
  display: inline;
  padding: 0;
  padding-left: 5px;
}

.backlink span {
  padding: 0;
}

ul.rules {
	margin: 0px;
	padding: 0px;
	margin-top: 4px;
}

ul.rules>li {
	list-style: none;
	font-size: 10px;
	margin-top: 2px;
}

.rules>li:before {
	content: "\2022 \20";
	margin-top: 1px;
}

div.boardBanner {
	text-align: center;
	clear: both;
	color: #AF0A0F;
}

div.boardBanner>img {
	border: 1px solid #34345C;
	margin: 5px 0px 5px 0px;
	width: 300px;
	height: 100px;
	max-width: 100%;
}

div.boardBanner>div.boardTitle {
	font-family: Tahoma,sans-serif;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: -2px;
	margin-top: 0px;
}

div.boardBanner>div.boardSubtitle {
	font-size: x-small;
}

div#boardLinks {
	font-size: 9pt;
	color: #89A;
	display: block;
	padding-top: 5px;
}

div#boardLinks a {
	font-weight: normal;
	padding: 1px;
	text-decoration: none;
	color: #34345C;
}

div.pContainer {
}

div.opContainer {
}

div.sideArrows {
	color: #B7C5D9;
	float: left;
	font-size: 24px;
	margin-right: 2px;
	margin-top: 0px;
	margin-left: 22px;
}

div.thread {
	margin-left: 30px;
	margin-right: 30px;
	clear: both;
}

div.post {
	margin: 4px 0;
	overflow: hidden;
}

div.thread>div:nth-of-type(2)>div.reply {
	margin-top: 2px!important;
}

div.op {
	background-color: #F9F9F9;
	border: 1px solid #B7C5D9;
}

div.reply {
	background-color: #D6DAF0;
	border: 1px solid #B7C5D9;
	display: table;
	padding: 2px;
}

div.reply input {
	float: none;
}

div.post div.postInfo {
	display: block;
	display: block;
	position: relative;
	padding: 5px;
	background-color: #D6DAF0;
	width: 100%;
}

div.post div.postInfo span.postNum {
}

div.post div.postInfo span.postNum a {
	text-decoration: none;
	color: #000000;
}

div.post div.postInfo span.postNum a:hover,.posteruid .hand:hover {
	color: #DD0000!important;
}

div.post div.postInfo span.nameBlock {
	display: inline-block;
}

div.post div.postInfo span.nameBlock span.name {
	color: #117743;
	font-weight: bold;
}

div.post div.postInfo span.nameBlock span.postertrip {
	color: #117743;
	font-weight: normal!important;
}

div.post div.postInfo span.date {
}

div.post div.postInfo span.time {
}

div.post div.postInfo span.subject {
	color: #0F0C5D;
	font-weight: bold;
}

div.post blockquote.postMessage {
	display: block;
	max-height: 290px;
	overflow-y: auto;
}

blockquote>span.quote {
	color: #789922;
}

.quoteLink,.quotelink,.deadlink {
	color: #D00!important;
}

div.post div.file {
	display: block;
}

div.post div.file div.fileInfo {
	margin-right: 10px;
}

div.replyContainer div.post div.file div.fileInfo {
	margin-left: 20px;
}

div.post div.file .fileThumb {
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 3px;
	margin-bottom: 5px;
}

span.fileThumb {
	margin-left: 0px!important;
	margin-right: 5px!important;
}

div.reply span.fileThumb,div.reply span.fileThumb img {
	float: none!important;
	margin-top: 0px!important;
	margin-bottom: 0px!important;
}

div.post div.file .fileThumb img {
	border: none;
	float: left;
}

span.summary {
	color: #707070;
	margin-top: 10px;
}

div.postingMode {
	background-color: #e04000;
	padding: 1px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: larger;
	margin-top: 8px;
}

div.navLinks {
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
}

div.navLinksBot {
	margin-bottom: 0px;
}

#verification table {
	border: none!important;
	margin: 0px;
}

div.thread:last-child {
	padding-bottom: 21px;
	margin-bottom: 6px;
}

div.pagelist {
	font-size: 13px!important;
	margin: 0;
	padding: 3px 7px;
	float: left;
	border: none;
	background: #D6DAF0;
	border-right: 1px solid #B7C5D9;
	border-bottom: 1px solid #B7C5D9;
	list-style: none;
	overflow: hidden;
	color: #89A;
}

div.pagelist>div {
	float: left;
}

div.pagelist>div span {
	padding: 4px;
	display: inline-block;
}

div.pagelist div.pages {
	padding: 4px;
}

div.pagelist div.pages a {
	text-decoration: none!important;
}

div.pagelist form {
	display: inline;
}

div.pagelist strong {
	color: #000000;
}

div.pagelist div.cataloglink {
	border-left: 1px solid #B7C5D9;
	padding-left: 12px;
	margin-left: 7px;
}

div.deleteform {
	float: right;
	margin-top: 2px;
}

#postForm input[type=password] {
	width: 50px;
	text-align: center;
}

div.deleteform input[type=checkbox] {
	margin: 1px 2px 1px 2px;
}

div.stylechanger {
	float: right;
	font-size: 10pt;
	clear: both;
}

div.stylechanger select {
	display: inline;
}

div.homelink {
	float: right;
}

table {
	border-spacing: 1px;
	margin-left: auto;
	margin-right: auto;
}

table.postForm>tbody>tr>td:first-child {
	background-color: #98E;
	color: #000;
	font-weight: bold;
	border: 1px solid #000;
	padding: 0 5px;
	font-size: 10pt;
}

tr.rules td {
	border: 0px!important;
	background-color: transparent!important;
	font-weight: normal!important;
}

td {
	margin: 0px;
	padding: 0px;
	font-size: 10pt;
}

#postForm input[type=text],input[type=password],table.postForm>tbody textarea {
	margin: 1px 2px 0px 0px;
	padding: 2px 4px 3px 4px;
	border: 1px solid #AAA;
	outline: none;
	font-family: arial,helvetica,sans-serif;
	font-size: 10pt;
}

#postForm input[type=text]:focus,input[type=password]:focus,input:not([type]):focus,textarea:focus {
	border: 1px solid #9988EE!important;
}

table.postForm>tbody>tr>td>input[type=text] {
	width: 232px;
}

table.postForm>tbody>tr>td>input[name="subject"] {
	width: 300px;
}

table.postForm>tbody>tr>td>input[name="embed"] {
	width: 200px;
}

.postblock {
	background-color: #98E;
	color: #000;
	font-weight: bold;
	border: 1px solid #000;
	padding: 0 5px;
	font-size: 10pt;
}

div.closed {
	font-size: x-large;
	text-align: center;
	color: red;
	font-weight: bold;
	padding-top: 100px;
	padding-bottom: 100px;
}

tbody textarea {
	margin-bottom: 0px!important;
	width: 292px;
};

.commentpostername {
	font-weight: bold;
}

.identityIcon {
	margin-bottom: -3px;
	height: 16px;
	width: 16px;
}

.stickyIcon {
	margin-bottom: -1px;
	padding-left: 2px;
	height: 16px;
	width: 16px;
}

.closedIcon {
	margin-bottom: -1px;
	margin-left: -1px;
	height: 16px;
	width: 16px;
}

.trashIcon {
	width: 16px;
	height: 16px;
	margin-bottom: -2px;
}

.fileDeleted {
	height: 13px;
	width: 172px;
}

.fileDeletedRes {
	height: 13px;
	width: 127px;
}

.navSmall {
	font-size: 90%;
}

.center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.smaller {
	font-size: smaller;
}

.password {
	font-size: smaller;
}

.passNotice {
	font-size: smaller;
	padding-left: 6px;
}

.qcDiv {
	display: none;
}

.qcImg {
	height: 1px;
	width: 1px;
	border: 0px;
}

.jpnFlag {
	height: 11px;
	width: 17px;
}

.globalMessage {
	color: red;
	text-align: center;
}

.highlightPost {
	background: #c1c6e2!important;
	border-color: #7b82ac!important;
}

.op:target, .op.highlight, .reply:target,.reply.highlight {
	background: #D6BAD0!important;
	border: 1px solid #BA9DBF!important;
	border-left: none!important;
	border-top: none!important;
	padding: 2px;
}

.useremail:not(:hover) .name:not(.capcode),.useremail:not(:hover) .postertrip:not(.capcode) {
	color: #34345C!important;
}

span.capcodeAdmin span.name,span.capcodeAdmin a:not(:hover) *,span.capcodeAdmin span.postertrip,span.capcodeAdmin strong.capcode {
	color: #F00!important;
}

.hand {
	cursor: pointer;
}

span.capcodeMod span.name,span.capcodeMod a:not(:hover),span.capcodeMod span.postertrip,span.capcodeMod strong.capcode {
	color: #800080!important;
}

span.capcodeDeveloper span.name,span.capcodeDeveloper a:not(:hover),span.capcodeDeveloper span.postertrip,span.capcodeDeveloper strong.capcode {
	color: #0000F0!important;
}

.useremail *:hover,.useremail:hover * {
	color: #DD0000!important;
}

.omittedposts,.abbr {
	color: #707070;
}

span.spoiler {
	color: #000!important;
	background: #000!important;
}

span.spoiler:hover,span.spoiler:focus {
	color: #fff!important;
}

s,s a:not(:hover) {
	color: #000!important;
	background: #000!important;
	text-decoration: none;
}

s:hover,s:focus,s:hover a {
	color: #fff!important;
}

s:hover a {
	text-decoration: underline;
}

table.exif {
	min-width: 450px;
}

table.exif td {
	color: #070707;
	min-width: 150px;
	font-size: 8pt;
}

table.exif td b {
	text-decoration: underline;
}

#navtopright,#navbotright {
	float: right;
}

.preview {
	background-color: #D6DAF0;
	border: 1px solid #B7C5D9!important;
	border-right-width: 2px!important;
	border-bottom-width: 2px!important;
}

div.posthover {
	max-width: 400px;
	margin-left: 20px;
}

div.posthover {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

div.posthover a.fileThumb {
	margin-left: 5px!important;
	margin-right: 10px!important;
}

div.posthover blockquote {
	margin: 5px;
}

div.posthover img[data-md5] {
	max-width: 80px;
	max-height: 80px;
	width: auto!important;
	height: auto!important;
}

div.posthover div.fileThumb {
	margin-left: 0px!important;
	margin-right: 10px!important;
}

div.boardSelect {
	float: left;
}

div.boardSelect>strong {
	padding-right: 5px;
}

div.pageJump {
	float: right;
	padding-right: 5px;
	padding-top: 3px;
}

.pageJump a {
	text-decoration: none;
	padding-right: 5px;
}

div.qrWindow {
	position: absolute;
	z-index: 8000;
}

div.qrHeader {
	padding: 2px;
	font-size: small;
	text-align: center;
}

div.qrForm {
	padding: 3px;
}

span.qrButtonHolder {
	position: absolute;
	right: 5px;
	text-align: right;
	top: 3px;
}

span.qrButtonHolder a {
	text-decoration: none;
}

span.qrButtonHolder img {
	cursor: pointer;
	margin-bottom: -1px;
	margin-top: 1px;
}

.extButton img {
	margin-top: 3px;
	margin-bottom: -3px;
	margin-left: 4px;
}

.qrMessage {
	padding: 2px;
	text-align: center;
}

.op .backlinkHr {
	width: 55%;
}

img.expandedImg {
	max-width: none!important;
	max-height: none!important;
}

#reloadCaptcha {
	margin-top: 2px;
}

.prettyprint {
	border: none!important;
	background-color: #fff;
	padding: 5px!important;
	display: inline-block;
	max-height: 400px;
	overflow-x: auto;
	max-width: 600px;
}

.embed {
	position: absolute;
	width: 0px;
	height: 0px;
	overflow: hidden;
}

table.flashListing td.postblock {
	padding: 5px;
	text-align: center;
}

table.flashListing td {
	padding: 2px;
	font-size: 9pt;
}

table.flashListing td:not(.subject) {
	text-align: center;
}

table.flashListing .name {
	color: #117743;
	font-weight: bold;
}

table.flashListing .postertrip {
	color: #117743;
}

table.flashListing .subject {
	color: #cc1105;
	font-weight: bold;
}

table.flashListing tr:nth-of-type(odd) {
	background-color: #e0e5f6;
}

#postForm input[type="text"],input[type="password"],textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

.countryFlag {
	padding-top: 1px;
	margin-bottom: -1px;
}

.deadlink {
	text-decoration: line-through;
}

.oldpost {
	background: inherit;
	color: #0F0C5D;
	font-weight: 800;
}

.mFileInfo {
	padding-top: 5px;
	text-align: center;
	color: #707070!important;
	font-size: 9pt!important;
	text-decoration: none!important;
}

.hider {
	margin-left: 5px!important;
}
a.expander {
	margin-left: 5px;
	}
	
#embed {
	white-space: nowrap;
}
	
	#quote-preview iframe,#quote-preview .filter-preview {
	display: none;
}

#quote-preview .linkfade {
	opacity: 1.0;
}

#quote-preview {
	display: block;
	position: absolute;
	padding: 3px 6px 6px 3px;
	margin: 0;
	background-color: #D6DAF0;
	border: 1px solid #B7C5D9;
	max-width: 70%;
}

#quote-preview .dateTime {
	white-space: nowrap;
}
.post-hidden:not(#quote-preview) input,
.post-hidden:not(#quote-preview) .replyContainer,
.post-hidden:not(#quote-preview) .summary,
.post-hidden:not(#quote-preview) .op .file,
.post-hidden:not(#quote-preview) .file,
.post-hidden .wbtn,
.post-hidden .postNum span,
.post-hidden:not(#quote-preview) .backlink,
div.post-hidden:not(#quote-preview) div.file,
div.post-hidden:not(#quote-preview) blockquote.postMessage {
  display: none;
}

/* MENU */

#menu .coll {
	cursor: hand;
	cursor: pointer;
	float: right;
	font-size: 10px;
	padding: 0 4px;
	background: #C3C8E3;
}

#menu .coll:hover {
	background: #CCD0E6;
}

#menu ul {
	list-style: none;
	padding-left: 0px;
	margin: 0px;
}

#menu li:hover {
	color: #e00;
	text-decoration: underline;
}

#menu li a {
	display: block;
	width: 100%;
	color: #333!important;
	text-decoration: none;
}

+#menu li a:hover {
	color: red!important;
}

#menu #img li,#dis li {
	line-height: 110%;
	margin-top: 0px;
	margin-bottom: 0px;
}

#menu h2 {
	background-color: #D6DAF0;
	color: #333;
	padding: 2px 4px;
	padding-right: 2px;
	font-weight: bold;
	margin-bottom: 4px;
	margin-left: -8px;
	margin-right: -8px;
	font-size: 9pt;
}

/* TABLE */

table:not(#postForm)>thead>tr>td {
	background-color: #98E;
	color: #000;
	font-weight: bold;
	border: 1px solid #000;
	padding: 5px;
	font-size: 10pt;
	text-align: center;
	min-width: 59px;
}

table:not(#postForm) td {
	padding: 2px;
	font-size: 9pt;
}

table:not(#postForm) tbody tr:nth-of-type(odd) {
	background-color: #D6DAF0;
}

table:not(#postForm) {
	border-collapse:separate;
	border-spacing: 1px;
	min-width: 100%;
	width: 100% !important;
	max-width: 100%;
}

table:not(#postForm) td.comments {
	min-width: 250px!important;
	}
	
table:not(#postForm) td.reason {
	min-width: 150px!important;
	}

/* GLOBAL */

#logo {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

#logo h1 {
	font-weight: normal !important;
}

#boards .column {
	float: left;
	width: 11em;
}

#whatis {
	margin-top: 1.75em;
	text-align: center;
}

#hd {
	margin-bottom: 0;
}

br.clear-bug {
	height: 0;
	line-height: 0;
	clear: both;
}

.box-outer {
	border: 1px solid;
	zoom: 100%;
	margin-bottom: .5em;
	padding-bottom: .5em;
}

.boxbar {
	padding-left: .5em;
	line-height: 2em;
}

.boxcontent {
	padding: .5em;
	padding-top: .25em;
	padding-bottom: 0;
	line-height: 130%;
}

#recent-images .boxcontent {
	text-align: center;
}

#recent-images li {
	margin: auto;
	margin-bottom: .5em;
	display: block;
	width: 250px;
	padding: 1px;
}

#recent-images a {
	display: block;
}

#recent-images img {
	display: block;
	margin: auto;
	max-width: 250px;
}

#ft ul {
	margin: 0;
	width: 750px;
}

#ft li {
	display: block;
	float: left;
	border: 1px solid;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 2px;
	border-left: none;
	margin-top: -1px;
	padding-top: 2px;
}

#ft li.first {
	border-left: 1px solid;
}

#ft li.current {
	padding-bottom: 4px;
	border-top: none;
}

#ft li.fill {
	border: 0;
	padding-bottom: 4px;
	border-top: 1px solid;
	width: 97px;
}

#ft {
	text-align: center;
}

#ft ul {
	display: inline-block;
}

#ft ul {
	display: inline;
}

#ft ul {
	display: table;
	margin: auto;
}

#copyright {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

.boxbar {
	position: relative;
	zoom: 100%;
}

.menubutton,.closebutton {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: .25em;
}

.closebutton {
	margin-top: 3px;
	margin-right: 4px;
}

.menubutton a {
	padding: 2px;
	padding-right: 18px;
}

.menubutton {
	background: center right no-repeat;
}

.boxcontent,#ft,#whatis {
	font-size: 93%;
}

h1 {
	font-family: Tahoma,Bitstream Vera Sans;
	font-size: 197%;
	font-weight: bold;
}

h2 {
	font-size: 131%;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
}

h3 {
	font-size: 100%;
	font-weight: bold;
}

.menubutton li {
	font-size: inherit;
}

h1 a {
	color: #800;
	text-decoration: none;
}

.boxbar {
	background: #D6DAF0;
	color: #333;
}

.top-box {
	background: #fff;
}

.top-box .menubutton {
	background-image: url('/image/fp/icon-down-peach.png');
}

#boards a {
	color: #800;
	text-decoration: none;
}

#boards a:hover {
	color: #e00;
	text-decoration: underline;
}

.left-box {
	background: #efe;
	color: #060;
}

.left-box .boxbar {
	background: #9c6;
	color: #060;
}

#recent-images li {
	background: #120;
}

.right-box {
	background: #eff;
	color: #006;
}

.right-box .boxbar {
	background: #59a;
	color: #fff;
}

.right-box .menubutton {
	background-image: url('/image/fp/icon-down-teal.png');
}

.warning {
	color: #e00;
}

a:visited {
	color: blue;
}

strong {
	font-weight: bold;
}

ul,ol,dl {
	margin: 0;
	padding: 0;
}

ol li {
	list-style: decimal outside;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

.content {
	line-height: 1.5em;
	padding: 3em;
	color: black;
	padding-top: 0;
}

.content h3 {
	background: #ffe;
	border: 1px solid #800;
	color: #800;
	font-size: 116%;
	height: 2em;
	line-height: 2em;
	padding-left: .5em;
	padding-right: .5em;
}

.newssub {
	float: left;
}

.permalink {
	float: right;
}

.permalink a {
	text-decoration: none;
}

.center {
	text-align: center;
	display: block;
}

.s {
	text-decoration: line-through;
}

.redb {
	color: red;
	font-weight: bold;
}

img {
	
}

a img {
   
}

div p {
	margin: 1.5em 0;
}

textarea {
	white-space: pre-wrap;
}


.commentpostername {
	font-weight: bold;
}

span.nameBlock {
	display: inline-block;
}

span.name {
	color: #117743;
	font-weight: bold;
}

span.postertrip {
	color: #117743;
	font-weight: normal!important;
}
.lnkSmall {
	font-size: 7pt;
	text-decoration: none;
	color: #000000;
}
.lnkSmall:hover {
	color: #835B36 !important;
	text-decoration: underline;
}
.lnkSmall:visited {
	text-decoration: none;
	color: #000000;
}
.left-boxes {
	display: block;
	margin: 0;
	padding: 0;
	width: 49.1%;
	float: left;
}
.right-boxes {
	display: block;
	margin: 0;
	padding: 0;
	width: 49.1%;
	float: right;
}
.wrapper{
	width: 750px;
}
#bd:after, .wrapper:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

fieldset input, label {
	display: block;
	float: right;
	margin-bottom: 10px;
	width: auto;
}

fieldset label {
	font-size: 12px;
	text-align: right;
	width: 175px;
	padding-right: 20px;
}

/* JAVASCRIPTS */

#settingsDivWrap {
	z-index:9000;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.247);
}

#settingsDiv {
	width: 400px;
	height: auto;
	margin: 80px auto auto auto;
	background: rgb(214, 218, 240);
	overflow: auto;
	z-index: 9001;
	border: 1px solid #000;
}

#settingsTitle {
	font-size:20px;
	display: block;
	text-align: center;
	background: #9988EE;
}

#watcher_box {
	border: solid 1px;
	position: absolute;
	width: 250px;
	height: 50px;
	background: rgba(214, 218, 240, 0.5)
}

#watcher_title {
	font-size:20px;
	display: block;
	text-align: center;
	background: #9988EE!important;
}