
table>thead>tr>td {
    background-color: #EA8;
    color: #800;
    font-weight: bold;
    border: 1px solid #800;
    font-size: 10pt;
    padding: 5px;
    text-align: center;
    min-width: 59px;
}

td {
    padding: 2px;
    font-size: 9pt;
}

table tbody tr:nth-of-type(odd) {
    background-color: #ede2d4;
}

table {
    border-collapse:separate;
    border-spacing: 1px;
    min-width: 100%;
    width: 100% !important;
    max-width: 100%;
}

td.comments {
	min-width: 250px!important;
	}
	
td.reason {
	min-width: 150px!important;
	}