

table>thead>tr>td {
    background-color: #444;
    color: #FFF;
    font-weight: bold;
    border: 1px solid #FFF;
    font-size: 10pt;
    padding: 5px;
    text-align: center;
    min-width: 50px;
}

td {
    padding: 2px;
    font-size: 9pt;
}

table tbody tr:nth-of-type(odd) {
    background-color: #363636;
}

table {
    border-collapse:separate;
    border-spacing: 1px;
    min-width: 100%;
    width: 100% !important;
    max-width: 100%;
}
a:link {
color: #CC9900
}

a:visited {
color: #CC9900
}

a:hover {
color: #CC9900
}

a:active {
color: #CC9900
}

td.comments {
	min-width: 250px!important;
	}
	
td.reason {
	min-width: 150px!important;
	}
